/* Универсальный селектор для страницы*/
*{
    margin: 0;
}

/* Стили для заголовка в шапке */
.header {
    background-color: #060605;
    /*в явном виде задаем стили для ФИО,номер группы, номер варианта*/
    color: white;
    font-family: serif;
    font-size: 30px;

    padding: 10px;
    text-align: center;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}
table > .nameOfColons{
    background-color: #34a197;
}

/* Стили для ячеек таблицы */
td, th {
    border: 1px solid #ccc; /* Границы ячеек */
    padding: 10px; /* Внутренние отступы ячеек */
    text-align: center; /* Выравнивание текста по центру */
}

/* Стили для изображения */
img {
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для изображения */
}

/* Стили для ввода текста */
input[type="text"] {
    width: 100%; /* Ширина поля ввода */
    padding: 5px; /* Внутренние отступы поля ввода */
    margin-bottom: 5px; /* Отступ снизу */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 5px; /* Закругленные углы поля ввода */
}
