/* Универсальный селектор для страницы*/
*{
    padding: 0;
    margin: 0;
}

/* Стили для заголовка в шапке */
#header, .nameOfColons {
    background-color: #060605;
    /*в явном виде задаем стили для ФИО,номер группы, номер варианта*/
    color: white;
    font-family: serif;
    font-size: 30px;

}


table {
    width: 100%;
}
table .tableContainer{
    font-size: 20px;
    font-family: verdana, serif;
}
input{
    background-color: rgb(128, 128, 128);
}
#yValue::placeholder{
    color: whitesmoke;
    font-weight: bold;
}
#statistics{
    text-align: center;
    color: whitesmoke;

    background-color: #060605;
}

.result{
    max-height: 10px; /* Высота таблицы с классом "result" */
    overflow: scroll;
}

td, th {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
